#Ace:hover {
    background-color: rgb(43, 127, 144);
}

#Alibi:hover {
    background-color: rgb(112, 122, 61);
}

#Amaru:hover {
    background-color: rgb(25, 100, 10);
}

#Aruni:hover {
    background-color: rgb(165, 51, 8);
}

#Ash:hover {
    background-color: rgb(215, 91, 42);
}

#Azami:hover {
    background-color: rgb(60, 99, 173);
}

#Bandit:hover {
    background-color: rgb(248, 195, 51);
}

#Blackbeard:hover {
    background-color: rgb(217, 161, 5);
}

#Blitz:hover {
    background-color: rgb(250, 187, 63);
}

#Buck:hover {
    background-color: rgb(0, 120, 157);
}

#Capitão:hover {
    background-color: rgb(63, 126, 63);
}

#Castle:hover {
    background-color: rgb(204, 87, 40);
}

#Caveira:hover {
    background-color: rgb(63, 126, 63);
}

#Clash:hover {
    background-color: rgb(112, 128, 143);
}

#Doc:hover {
    background-color: rgb(57, 92, 124);
}

#Dokkaebi:hover {
    background-color: rgb(186, 195, 196);
}

#Echo:hover {
    background-color: rgb(147, 40, 56);
}

#Ela:hover {
    background-color: rgb(32, 143, 144);
}

#Finka:hover {
    background-color: rgb(254, 173, 51);
}

#Flores:hover {
    background-color: rgb(134, 12, 5);
}

#Frost:hover {
    background-color: rgb(1, 111, 147);
}

#Fuze:hover {
    background-color: rgb(166, 34, 34);
}

#Glaz:hover {
    background-color: rgb(166, 34, 34);
}

#Goyo:hover {
    background-color: rgb(18, 90, 24);
}

#Gridlock:hover {
    background-color: rgb(211, 24, 80);
}

#Grim:hover {
    background-color: rgb(220, 197, 61);
}

#Hibana:hover {
    background-color: rgb(147, 40, 56);
}

#Iana:hover {
    background-color: rgb(140, 99, 139);
}

#IQ:hover {
    background-color: rgb(250, 187, 63);
}

#Jackal:hover {
    background-color: rgb(103, 48, 129);
}

#Jäger:hover {
    background-color: rgb(250, 187, 63);
}

#Kaid:hover {
    background-color: rgb(162, 121, 75);
}

#Kali:hover {
    background-color: rgb(1, 191, 202);
}

#Kapkan:hover {
    background-color: rgb(166, 34, 34);
}

#Lesion:hover {
    background-color: rgb(165, 66, 37);
}

#Lion:hover {
    background-color: rgb(254, 165, 47);
}

#Maestro:hover {
    background-color: rgb(100, 106, 43);
}

#Maverick:hover {
    background-color: rgb(100, 118, 132);
}

#Melusi:hover {
    background-color: rgb(29, 117, 135);
}

#Mira:hover {
    background-color: rgb(103, 48, 129);
}

#Montagne:hover {
    background-color: rgb(48, 89, 120);
}

#Mozzie:hover {
    background-color: rgb(211, 24, 80);
}

#Mute:hover {
    background-color: rgb(136, 101, 111);
}

#Nøkk:hover {
    background-color: rgb(37, 55, 125);
}

#Nomad:hover {
    background-color: rgb(162, 121, 75);
}

#Nomad:hover {
    background-color: rgb(246, 131, 37);
}

#Oryx:hover {
    background-color: rgb(140, 99, 139);
}

#Osa:hover {
    background-color: rgb(253, 151, 43);
}

#Pulse:hover {
    background-color: rgb(215, 84, 42);
}

#Sens:hover {
    background-color: rgb(88, 189, 165);
}

#Rook:hover {
    background-color: rgb(59, 97, 131);
}

#Sledge:hover {
    background-color: rgb(136, 101, 111);
}

#Smoke:hover {
    background-color: rgb(136,101,111);
}

#Solis:hover {
    background-color: rgb(231, 65, 30);
}

#Tachanka:hover {
    background-color: rgb(166, 34, 34);
}

#Thatcher:hover {
    background-color: rgb(136, 101, 111);
}

#Thermite:hover {
    background-color: rgb(215, 84, 42);
}

#Thorn:hover {
    background-color: rgb(87, 117, 36);
}

#Thunderbird:hover {
    background-color: rgb(126, 60, 50);
}

#Twitch:hover {
    background-color: rgb(48, 89, 120);
}

#Valkyrie:hover {
    background-color: rgb(189, 136, 50);
}

#Vigil:hover {
    background-color: rgb(190, 201, 202);
}

#Wamai:hover {
    background-color: rgb(43, 197, 208);
}

#Warden:hover {
    background-color: rgb(49, 66, 160);
}

#Ying:hover {
    background-color: rgb(170, 72, 37);
}

#Zero:hover {
    background-color: rgb(108, 164, 66);
}

#Zofia:hover {
    background-color: rgb(65, 146, 145);
}